@font-face {
  font-family: 'Geist';
  src: url('../../fonts/Geist-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist-mono';
  src: url('../../fonts/GeistMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}