$font-family-primary: 'Geist', sans-serif;
$font-family-secondary: 'Geist-mono', sans-serif;


/*
// Размеры и высота строк
$font-size-h1: 128px;
$font-size-h2: 20px;
*/

$line-height-normal: 1.5;

// Цвета текста
$text-color-primary: #000000;
$text-color-secondary: #FFFFFF;

// Вес шрифта
$font-weight-regular: 400;

.text-h1 {
  font-family: $font-family-primary;
  //font-size: $font-size-h1;
  font-weight: $font-weight-regular;
  line-height: $line-height-normal;
  color: $text-color-primary;
}

.text-h2 {
  font-family: $font-family-primary;
  //font-size: $font-size-h2;
  font-weight: $font-weight-regular;
  line-height: $line-height-normal;
  color: $text-color-secondary;
}


.text-mono {
  font-family: $font-family-secondary;
  //font-size: $font-size-h2;
  font-weight: $font-weight-regular;
  line-height: $line-height-normal;
  color: $text-color-primary;
}