@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: grid;
    gap: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
}

@media (min-width: 768px) {
    .container {
        aspect-ratio: 1 / 1;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .circle {
        font-size: 6.5vw;
    }

}

@media (max-width: 767px) {
    .container {
        aspect-ratio: 1 / 2;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .circle {
        font-size: 12vw;
    }


}

.circle {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    color: white;
    display: grid;
    place-items: center;
    border-radius: 50%;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    line-height: 1;
    position: relative; /* Для позиционирования language-toggle внутри круга */
}

.circle span {
    font-size: 0.55em;
    width: 80%;
    word-break: break-word;
}

/* Цвета */
.circle-base { background-color: #0004EE; }
.circle-yt { background-color: #000000; }
.circle-didj { background-color: #EE000C; }
.circle-dev { background-color: #00BD55; }
.circle-tg { background-color: #000000; }
.circle-mail { background-color: #000000; }

.circle:hover { background-color: #EC7C26; }
.circle-base:hover { background-color: #0004EE; }

.lang-btn {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: hotpink;
    color: white;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 0.6em; /* Размер шрифта относительно круга */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.language-toggle {
    position: absolute;
    bottom: -16%;
    right: -16%;
    width: 32%;
    height: 32%;
}

.lang-btn:hover {
    background-color: #EC7C26;
}