// ЦВЕТА
$color-item-1: #D62A2A;
$color-item-2: #2A49D6;
$color-item-3: #1AB2EA;
$color-item-4: #6C441F;
$color-item-5: #EA1AC4;
$color-item-6: #0BCA3E;
$color-item-7: #687F12;
$color-item-8: #EAA11A;
$color-item-9: #A302C4;