@font-face {
    font-family: "Geist Mono";
    src: url(Geist.Mono/GeistMonoVariableVF.ttf) format("truetype");
}

h1 {
    text-align: center;
    font-family: 'Geist Mono', light;
    font-size: 25px;
    font-weight: 400;
}
